#
# Copyright (C) 2015-2016 Orange
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

swagger: '2.0'
info:
  title: Sandbox API
  description: Onboard to Cloudfounry with the Sandbox API
  version: 0.0.1
host: xxx.fr
schemes:
  - https
  - http
basePath: /v1
produces:
  - application/json
paths:
  /sandboxes:
      post:
        summary: Create a private sandbox
        description: Create a private sandox using user name as sapce name. User name is extracted form JWT Oauth2 token passed in http header.
        tags:
          - Sandbox
        responses:
          '201':
            description: private sandbox created
            schema:
              $ref: '#/definitions/Sandbox'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
definitions:
  Sandbox:
    type: object
    properties:
      org_name:
        type: string
        description: Cloudfoundry Organization name where space has been created
      space_name:
        type: string
        description: Cloudfoundry Space name
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
